* {
  --color--black: rgba(0, 0, 0, 0.93);
  --color--gray: #2d2c2c;
  --color--lightgray: #696767;
  --color--orange: rgba(255, 165, 0, 0.96);
  --color--white:white;
  --color--palewhite: rgba(255, 255, 255, 0.48);
  font-family: Arial, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}