@import "global";
.main-container {
  padding: 25px;
  border-radius: 16px;
  width: 900px;
  height: auto;
  background-color: var(--color--gray);
  color: var(--color--white);
  overflow: hidden;

  @media (max-width: 480px) {
    width: 300px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    width: 500px;
  }
}