@import "global";


body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em;
  background-color: var(--color--black);
  //@media (max-width: 480px) {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  margin: 1em;
  //  background-color: var(--color--black);
  //}
}