@import '../../app/styles/global';

.contactsItem{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8em;
  margin-bottom: 1em;

  &__text {
    display: flex;
    flex-direction: column;

    &__strong {
      color: var(--color--lightgray);
      padding-bottom: 5px;
    }

    &__p {
      color: var(--color--white);
    }
  }

}