@import "src/app/styles/global";

.divInput {
  position: relative;
  padding: 0.3em 1em 0 1em;
  display: flex;
  flex-direction: column;
  width: 425px;
  @media (max-width: 1080px) {
    width: 250px;
  }

  &__input {
    font-size: 1.3em;
    height: 2.1em;
    padding: 0.5em;
    background-color: var(--color--lightgray);
    color: var(--color--white);
    border: 1px solid var(--color--gray);
    border-radius: 16px;
    width: 100%;
    min-width: 150px;
    max-width: 500px;
  }

  &__label {
    position: relative;
    left: 10px;
    top: -1.9rem;
    font-size: 1em;
    color: var(--color--white);
    pointer-events: none;
    transition: all 1s ease;
    width: 100%;
  }

  &__input:focus + &__label{
    top:-4rem;
    color: var(--color--orange);
  }
}
