@import "../../app/styles/global";

.aside {
  position: sticky;
  top: 10px;
  height: min-content;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color--gray);
  border-radius: 16px;

  &__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__img {
    width: 198px;
    height: 200px;
    border-radius: 16px;
    margin: 2em;
    background-color: var(--color--lightgray);
  }

  &__figcaption {
    color: var(--color--white);
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px;
  }


  &__job {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--color--lightgray);
    color: var(--color--white);
    width: 180px;
    margin: 1em 0;
    padding: 5px;
    opacity: 0.7;
    font-weight: bold;
  }

  &__hr {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
  }

  @media (max-width: 1200px) {
    position: unset;
  }

}

