@import "src/app/styles/global";

.websiteList{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  @media (max-width: 1080px) {
    grid-template-columns: repeat(1,10px);
    align-content: center;
  }
}